/* Universal Selector to cancel browser default margins and padding */
* {margin:0; padding:0}

/* Background Colours */
body {background-color: #1c1c1c;}
footer, main, .contact { background-color: #333333;}
canvas{background-color: #ffffff;}
.thumbnailDiv, .projectPageDiv, nav ul li a, #tutNav ul li, section {
    background-color: #4d4d4d;
}

/* Text Properties */
h1, a, main, footer, section, .contact{font-family: Arial; color: #ffffff; font-family: 'Source Code Pro'}
footer{color: #828282}
p {margin-top: 10px;}

/* Margins */
body{margin:auto;}
header{margin-bottom: 10px;}
main, footer {margin-top: 10px;}
.subdiv{margin-right: 10px;}
img {margin-top: 10px;}
nav ul li a {margin-right: 2px;}
.physicsNav {margin-right: 0px;}
.contact a {margin-right: 10px;}

/* Padding */
h1{padding-top: 10px; padding-bottom: 5px;}
footer, section, .thumbnailDiv, .contact, .projectPageDiv {
    padding: 10px;
} 
section{padding-top: 0px;}
main {
    padding: 10px 50px 10px 50px;
}
.sideBySideDiv p {padding-right: 10px;}


/* Positioning (Float, Display and Clear) */
h1 {
    float: left;
}
main, header, nav, footer, section, .contact{clear: both}
#PageTitle {display:inline;}
.subdiv, #cursor {
    display: inline-block;
}
.thumbnailContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%; /* Creates 3 equal columns */
    gap: 10px;
}
.sideBySideDiv {
    display: grid;
    grid-template-columns: 50% 50%; /* Creates 2 equal columns */
    gap: 10px;
}
.physicsNav {display:block}

/* Element Sizes */
html, body{
    height: 100%;
}
/*main{height: 80%;}*/
body{width: 90%; max-width: 1600px;}
header{ height: 50px;}

canvas{width: 100%; height:100%;}
input[type=number],input[type=button]{width: 50px;}
select{width: 90px;}
.thumbnailImg {width: 100%;}
.tutImgLong {width: 100%; max-width: 700px}
.tutImg {width: 100%; max-width: 300px}
.physicsNav {height:100%}

/* Misc */
.thumbnailDiv, main, .contact, footer, .projectPageDiv {
    border-radius: 10px;
}
.thumbnailDiv, .projectPageDiv {
    box-shadow: 3px 3px 3px #1c1c1c;
}

/* Navigation List Properties */
#PageTitle {text-decoration: none;}
nav ul, #tutNav ul{ list-style-type: none;}
nav ul li, #tutNav ul li{float: left; width: 33.333%; text-align: center;}
#tutNav ul li{width: 25%;}
nav ul li a, #tutNav ul li {
    display: block;
    padding: 10px;
    height: 20px;
}
nav ul li a:hover, #tutNav ul li:hover, .thumbnailDiv:hover {
    background-color: #616161;
    color: #ffffff;
}

.desktopVisible {
    display: block;
}
.mobileVisible {
    display: none;
}

@media only screen and (max-width: 750px) {
    .desktopVisible {
        display:none;
    }
    .mobileVisible {
        display: block;
    }

    main {
        padding: 10px 20px 10px 20px;
    }
    .thumbnailDiv {
       /* width: calc(100% - 20px);*/
        padding-bottom:10px;
        margin-bottom:0;
    }
    .thumbnailContainer, .sideBySideDiv {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }
}